module "kubeland1" {
  source = "./caasp-libvirt-host"

  # TODO: drop later once we get rid of the LB
  create_lb           = false

  libvirt_uri         = "qemu+ssh://root@kubeland1.local.lan/system"
  pool                = "fast_libvirtd"

  # master nodes
  masters             = 1
  master_memory       = var.master_memory
  master_vcpu         = var.master_vcpu

  # worker nodes
  workers             = 3
  worker_memory       = var.worker_memory
  worker_vcpu         = var.worker_vcpu

  # k8s multiple-zones
  region              = var.region
  zone                = "kubeland1.local.lan"

  stack_name          = var.stack_name

  username            = var.username
  password            = var.password

  # VMs disk/image settings
  image_uri           = var.image_uri
  disk_size           = var.disk_size


  caasp_registry_code = var.caasp_registry_code
  rmt_server_name     = var.rmt_server_name
  repositories        = var.repositories
  packages            = var.packages

  ntp_servers         = var.ntp_servers
  authorized_keys     = var.authorized_keys

  # Network settings
  dns_domain          = var.dns_domain
  network_mode        = var.network_mode
  # CIDR for the VMs running on this host
  network_cidr        = "172.30.0.0/22"
}

output "kubeland1_master_nodes" {
  value = module.kubeland1.ip_masters
}

output "kubeland1_worker_nodes" {
  value = module.kubeland1.ip_workers
}
